@import "../../shared/styles/core";

.animals-individual {
  &--wrapper {
    display:         flex;
    justify-content: space-around;
    align-items:     center;

    &__slider {
      width: 50%;

      &--img {
        width:  100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
