<section class="animals-individual page">
  <mat-card>
    <h1>{{animal.name}}</h1>
    <mat-card-content class="animals-individual--wrapper">
      <ul class="list-unstyled">
        <li>Age: {{animal.age}}</li>
        <li>Gender: {{animal.gender}}</li>
        <li>Breed: {{animal.breed}}</li>
        <li>About: {{animal.description}}</li>
        <li>Medical notes: {{animal.medicalNotes}}</li>
      </ul>

      <swiper class="animals-individual--wrapper__slider">
        <div *ngFor="let img of animal.photos">
          <img [src]="img" [alt]="animal.name" class="animals-individual--wrapper__slider--img">
        </div>
      </swiper>
    </mat-card-content>

    <mat-card-actions>
      <button *ngIf="!animal.isAdopted" mat-raised-button type="button" color="primary" (click)="adoptAnimal()">Adopt!</button>
    </mat-card-actions>
  </mat-card>
</section>
